body {
	font-family: Arial, sans-serif;
	padding: 100px;
}
input.rbutton {
	padding: 10px;
	margin: 50px;
	color: white;
	background-color: red;
	border: none;
}
input.sbutton {
	padding: 10px;
	color: white;
	background-color: green;
	border: none;
}

fieldset {
	margin: 50px;
}

input.rbutton:hover {
	background-color: black;
}

input.sbutton:hover {
	background-color: black;
}

p {
	color: red;
}